<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069488002158-6vhijrfaidkm9o5hcqi54n05d2q0quqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069488002158-6vhijrfaidkm9o5hcqi54n05d2q0quqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCtnktVWJOyurdfjEw1u1TCKo2G21ZZQ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>1069488002158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chailloleaudamien.SplitPay</string>
	<key>PROJECT_ID</key>
	<string>splitpay-6dc17</string>
	<key>STORAGE_BUCKET</key>
	<string>splitpay-6dc17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069488002158:ios:f01683f189467d79f6827f</string>
</dict>
</plist>